body {
  --bs-secondary-color: #f0f0f0;
  --bs-gutter-x: 3.5rem;
  background-color: #fdfdfd;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo {
  height: 1.7rem;
  margin-top: 1rem;
}

nav {
  background-color: transparent;
}

.navbar {
  --bs-navbar-padding-y: 0rem !important;
}

.navbar-brand {
  border: none;
}

.navbar-brand {
  z-index: 1;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-toggler {
  z-index: 1;
  border: none;
  visibility: hidden;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.carousel-item {
  height: 93vh;
}

.carousel-inner {
  border-radius: 20px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hidden {
  opacity: 0;
  transition: ease-in 1.3s;
}

.visible {
  opacity: 1 !important;
}

.fast-tr {
  transition: ease-in 0.3s !important;
}

.text-link {
  text-decoration: none;
  color: #545a6b;
}

@media only screen and (max-width: 600px) {
  .img-to-right {
    object-position: right !important;
  }

  .main-section {
    height: auto !important;
  }

  .carousel-item {
    height: 85vh !important;
  }

  .carousel {
    height: 100vh !important;
    width: 100vw !important;
  }

  .gallery-container {
    width: 100vw !important;
  }

  .logo {
    height: 2.5rem !important;
    margin-top: 1rem !important;
  }

  .navbar-toggler {
    visibility: visible !important;
  }

  .navbar-toggler-icon {
    width: 40px !important;
    height: 40px !important;
  }

  .mobile-visible {
    visibility: visible !important;
  }
}

.carousel-item h2 {
  font-family: 'Murs', sans-serif;
  font-weight: 700;
  color: #f0f0f0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-shadow: 1px 2px 1px #353b41;
}

.carousel-item a {
  font-weight: 700;
  font-size: 1em;
  font-family: 'MySans3';
  color: #f0f0f0;
  border-radius: 0px;
  padding: 10px 60px;
  margin-top: 40px;
  background-color: transparent !important;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 2px 1px #353b41;
}

.carousel-caption {
  bottom: 1.25rem;
}

footer {
  padding-top: 3em;
  padding-bottom: 5em;
  font-family: 'MySans3';
  font-weight: 500;
  background-color: #373b46;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: 81.5%;
  padding: 10px;
}

.carousel-control-next {
  right: 2rem;
}

.carousel-control-prev {
  left: 2rem;
}

.main-section {
  height: 93vh;
}

.gallery-container {
  margin-top: 0rem;
}

footer img {
  width: 20px;
  color: #fefefe;
}

.mobile-visible {
  visibility: visible;
}

.menu img {
  width: 1.2rem;
  height: auto;
}

.card {
  height: 25.8vh;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  color: white;
  box-sizing: border-box;
  text-align: start;
}

.card img {
  display: none;
}

.card p {
  font-weight: 700;
  font-size: 1em;
  font-family: 'MySans3';
  text-align: start;
  color: #f0f0f0;
  margin-bottom: 4.5rem;
  background-color: transparent !important;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 2px 1px #282828;
  background-color: #545a6b;
}

.card a {
  font-family: 'Murs', sans-serif;
  font-weight: 700;
  text-align: start;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-shadow: 1px 2px 1px #353b41;
}

.card a:hover {
  text-shadow: 1px 2px 30px #0e1011 !important;
  cursor: default;
}

.menu {
  height: 5vh;
  background-color: #373b46;
}

.rounded {
  border-radius: 20px !important;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: 'Murs';
  src: url('http://localhost:5500/fonts/MursGothic-WideDark.woff2') format('woff2'), url('http://localhost:5500/fonts/MursGothic-WideDark.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MySans3';
  src: url('http://localhost:5500/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}